---
import Layout from "../layouts/Layout.astro";

import Mission from "../components/Mission.astro";
import missionList from "../data/mission";
---

<Layout title="Sobre Nosotros">
  {
    missionList.map((m) => (
      <Mission
        title={m.title}
        paragraphs={m.paragraphs}
        imageUrl={m.imageUrl}
      />
    ))
  }

  <section class="mission-card-container">
    <h1 class="box-main-title">Nuestros Valores:</h1>
    <ul class="mini-box-container">
      <li class="li-box">
        Equidad <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1689958072/equidad_st8twu.png"
          class="card-mini-img"
        />
      </li>
      <li class="li-box">
        Inclusión <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1689958072/inclusion_njctpy.png"
          class="card-mini-img"
        />
      </li>
      <li class="li-box">
        Transparencia <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1689958073/transparencia_evzm0n.png"
          class="card-mini-img"
        />
      </li>
      <li class="li-box">
        Impacto <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1689958072/impacto_nvq5gz.png"
          class="card-mini-img"
        />
      </li>
      <li class="li-box">
        Cooperación <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1689958073/cooperacion_jixb74.png"
          class="card-mini-img"
        />
      </li>
      <li class="li-box">
        Mérito <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1689958073/merito_qopdqs.png"
          class="card-mini-img"
        />
      </li>
    </ul>
  </section>
</Layout>

<style>
  .mini-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .box-main-title {
    font-family: "Libre Baskerville";
    font-size: 2rem;
    font-weight: bold;
  }
  .card-mini-img {
    height: 8rem;
    margin: 1rem;
    color: green;
  }
  .li-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    font-size: 2rem;
    font-family: "Open Sauce Sans";
  }
</style>
