---
import Layout from "../layouts/Layout.astro";
import FormationPresentation from "../components/FormationPresentation.astro";
import AsideBecas from "../components/AsideBecas.astro";
---

<Layout title="Presentación">
  <section class="flex">
    <AsideBecas/>
    <FormationPresentation />
  </section>
</Layout>
