---
import Layout from "../layouts/Layout.astro";
import HowWeWork from "../components/HowWeWork.astro";
import AsideBecas from "../components/AsideBecas.astro";
---

<Layout title="Cómo trabajamos">
  <section class="flex">
    <AsideBecas/>
    <div class="min-h-[70vh] w-[80%] mt-6 px-10">
      <HowWeWork />
    </div>  
  </section>
</Layout>
