---
import Layout from "../layouts/Layout.astro";
import AsideBecas from "../components/AsideBecas.astro";
import Benefactores from "../components/Benefactores.astro";
---

<Layout title="Benefactores">
  <section class="lg:flex">
    <AsideBecas />
    <div class="min-h-[50vh] w-[80%] max-sm:w-[100%] max-sm:px-4 mt-6 px-10">
      <Benefactores />
    </div>
  </section>
</Layout>
