---
import Layout from "../layouts/Layout.astro";
import Criteria from "../components/Criteria.astro";
import AsideBecas from "../components/AsideBecas.astro";
---

<Layout title="Criterios de valoración">
  <section class="flex">
    <AsideBecas/>
    <div class="min-h-[50vh] w-[80%] mt-6 px-10">
      <Criteria />
    </div>  
  </section>
</Layout>
