---
import Layout from "../layouts/Layout.astro";
import TeamCard from "../components/TeamCard.astro";
---

<Layout title="Equipo">
  <p>Equipo</p>
  <TeamCard />
  <TeamCard />
  <TeamCard />
  <TeamCard />
</Layout>
