---
import type { Companies } from "../types/types";
import companies from "../data/companies";

interface Props extends Companies {}
---

<section class="companies-container">
  <p>Empresas que confían en nosotros y en nuestros becados:</p>
  <div class="empresas-logos">
    {
      companies.map((c) => (
        <a href={c.url} target="_blank">
          <img src={c.imageUrl} alt={c.imageAlt} />
        </a>
      ))
    }
  </div>
  <div class="empresas-donante">
    <a href="https://www.mercadopago.com/" target="_blank">
      <button>Sumate como donante</button>
    </a>
  </div>
</section>

<style>
  .companies-container {
    text-align: center;
    padding: 20px;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 80ch;
  }

  img {
    opacity: 0.8;
  }

  button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    height: 2rem;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
  }

  button:hover {
    background-color: #45a049;
  }

  .empresas-logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .empresas-logos img {
    padding: 1rem;
    max-height: 6rem;
    display: inline;
    transition: transform 0.3s;
  }

  .empresas-logos img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  a {
    text-decoration: none;
  }
</style>
