<div class="flex h-auto">
    <a href="https://chat.whatsapp.com/GbjWHaoWXudHYzbnGnDO85" target="_blank"
      class="fixed flex group flex-row items-center me-2 bottom-5 right-5 z-10 text-white w-10 lg:w-auto transition-transform ease-in-out duration-500 hover:-translate-x-80 focus:outline-none focus:ring-2 focus:ring-offset-2">
  
      <img
        src="/assets/RedesSociales/whatsapp-logo.svg"
        class="w-10 h-10 lg:w-14 lg:h-14 z-20 transition-transform duration-500 ease-in-out">
  
      <p class="opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out ms-4 pe-2 text-xs text-center lg:text-start bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 rounded-lg flex items-center justify-center py-4 px-4 ps-5 lg:ps-12 h-10 w-96 absolute left-0">
        Súmate a nuestro grupo para enterarte de todas nuestras novedades
      </p>
    </a>
  </div>
  