---
import SocialMedia from "./SocialMedia.astro";
---

<footer>
  <div class="w-full flex justify-center my-5 max-sm:px-4">
    <a href="/">
      <img src="/assets/Logos/PNG/logo horizontal grises.png" alt="" class="h-[8vh] img-class p-3">
    </a>
  </div>
  <ul class="footer-link-container max-sm:text-sm">
    <li><a href="/" class="footer-link ">Inicio</a></li>
    <li><a href="/becas-de-formacion" class="footer-link">Becas</a></li>
    <li><a href="/contacto" class="footer-link">Contacto</a></li>
    <li><a href="/sobre-nosotros" class="footer-link">Sobre nosotros</a></li>
  </ul>
  
  <div class="footer-info max-sm:text-sm">
    <div class="footer-text-container">
      <img
        src="/assets/RedesSociales/web-icon.png"
        style={"width: 25px"}
      />
      <p class="footer-text">Ciudad Autónoma de Buenos Aires, Argentina</p>
    </div>
    <!-- <div class="footer-text-container">
      <img
      src="/assets/RedesSociales/phone-icon.png"
      style={"width: 25px"}
      />
      <p class="footer-text">999-999-9999</p>
    </div> -->
    <div class="footer-text-container">
      <img
      src="/assets/RedesSociales/mail-icon.png"
      style={"width: 25px"}
      />
      <a class="footer-text hover:text-[#48A750]" href="mailto:informacion@oportunidades.org.ar">informacion@oportunidades.org.ar</a>
    </div>
  </div>
  <SocialMedia />
</footer>

<style>
  footer {
    /* padding: 10px 0 10px 0; */
    margin: 10px 0 10px 0;
    text-align: center;
    color: #333;
    width: 100vw;
    margin-top: 2rem;
    font-family: "Open Sauce Sans";
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  ul li {
    margin: 0 20px 0 20px;
  }

  .footer-link {
    font-weight: bold;
    margin: 0 10px;
    /* text-decoration: none; */
    transition: all 0.3s ease;
  }

  .footer-link:hover {
    transform: scale(1.2, 1.2);
    color: #7bcb79
  }

  .footer-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-text-container {
    /* padding: 5px; */
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
  }
  .footer-text {
    margin: 0 15px 0 15px;
  }

  @media only screen and (max-width: 768px) {
    .footer-link-container {
      margin-top: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .footer-link-container li {
      margin: 0 1rem 0 1rem;
    }
    .footer-link {
      margin: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .img-class {
  transition: transform 0.3s; /* Agrega una transición suave para el cambio de imagen */
}

.img-class:hover {
  transform: scale(1.1); 
  content: url('/assets/Logos/PNG/isologotipoHorizontal.png');
}


</style>
