---
import SocialMedia from "./SocialMedia.astro";
---

<footer>
  <div class="w-full flex justify-center my-5">
    <a href="/">
      <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-oportunidades.appspot.com/o/Assets%2FLogos%2FPNG%2Flogo%20horizontal%20grises.png?alt=media&token=997281e0-2ea2-48dd-a029-76a9b755f41d&_gl=1*avzr10*_ga*MzU5MzA0NDAuMTY5NTkwMTE2OQ..*_ga_CW55HF8NVT*MTY5NTkwMTE3MC4xLjEuMTY5NTkwMjE3MS42MC4wLjA." alt="" class="h-[8vh] img-class p-3">
    </a>
  </div>
  <ul class="footer-link-container">
    <li><a href="/site" class="footer-link hover:text-[#fff]">Inicio</a></li>
    <li><a href="/site/scholarships" class="footer-link">Becas</a></li>
    <li><a href="/site/contact_us" class="footer-link">Contacto</a></li>
    <li><a href="/site/about_us" class="footer-link">Sobre nosotros</a></li>
  </ul>
  
  <div class="footer-info">
    <div class="footer-text-container">
      <img
        src="https://res.cloudinary.com/dsblswewr/image/upload/v1689807197/web-icon_rik9pl.png"
        style={"width: 25px"}
      />
      <p class="footer-text">Ciudad Autónoma de Buenos Aires, Argentina</p>
    </div>
    <!-- <div class="footer-text-container">
      <img
      src="https://res.cloudinary.com/dsblswewr/image/upload/v1689807197/phone-icon_ubefox.png"
      style={"width: 25px"}
      />
      <p class="footer-text">999-999-9999</p>
    </div> -->
    <div class="footer-text-container">
      <img
      src="https://res.cloudinary.com/dsblswewr/image/upload/v1689807197/mail-icon_pausiy.png"
      style={"width: 25px"}
      />
      <p class="footer-text">info@fundacionoportunidades.org</p>
    </div>
  </div>
  <SocialMedia />
</footer>

<style>
  footer {
    /* padding: 10px 0 10px 0; */
    margin: 10px 0 10px 0;
    text-align: center;
    color: #333;
    width: 100vw;
    margin-top: 2rem;
    font-family: "Open Sauce Sans";
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  ul li {
    margin: 0 20px 0 20px;
  }

  .footer-link {
    font-weight: bold;
    margin: 0 10px;
    /* text-decoration: none; */
    transition: all 0.3s ease;
  }

  .footer-link:hover {
    transform: scale(1.2, 1.2);
    color: #7bcb79
  }

  .footer-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-text-container {
    /* padding: 5px; */
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
  }
  .footer-text {
    margin: 0 15px 0 15px;
  }

  @media only screen and (max-width: 768px) {
    .footer-link-container {
      margin-top: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .footer-link-container li {
      margin: 0 1rem 0 1rem;
    }
    .footer-link {
      margin: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .img-class {
  transition: transform 0.3s; /* Agrega una transición suave para el cambio de imagen */
}

.img-class:hover {
  transform: scale(1.1); 
  content: url('https://firebasestorage.googleapis.com/v0/b/fundacion-oportunidades.appspot.com/o/Assets%2FLogos%2FPNG%2Fisologotipo%20horizontal.png?alt=media&token=56a6d0c2-b676-4c8e-bf1d-ceb430b7a03b&_gl=1*e8ay6c*_ga*MzU5MzA0NDAuMTY5NTkwMTE2OQ..*_ga_CW55HF8NVT*MTY5NTkwMTE3MC4xLjEuMTY5NTkwMjA5Ni4zLjAuMA..');
}


</style>
