---
import SocialMedia from "./SocialMedia.astro";
---

<footer>
  <SocialMedia />
  <ul>
    <li><a href="/site" class="footer-link">Inicio</a></li>
    <li><a href="/site/scholarships" class="footer-link">Becas</a></li>
    <li><a href="/site/contact_us" class="footer-link">Contacto</a></li>
    <li><a href="/site/about_us" class="footer-link">Sobre nosotros</a></li>
  </ul>

  <div class="footer-info">
    <div class="footer-text-container">
      <img
        src="https://res.cloudinary.com/dsblswewr/image/upload/v1689807197/web-icon_rik9pl.png"
        style={"width: 25px"}
      />
      <p class="footer-text">Ciudad Autónoma de Buenos Aires, Argentina</p>
    </div>
    <div class="footer-text-container">
      <img
        src="https://res.cloudinary.com/dsblswewr/image/upload/v1689807197/phone-icon_ubefox.png"
        style={"width: 25px"}
      />
      <p class="footer-text">999-999-9999</p>
    </div>
    <div class="footer-text-container">
      <img
        src="https://res.cloudinary.com/dsblswewr/image/upload/v1689807197/mail-icon_pausiy.png"
        style={"width: 25px"}
      />
      <p class="footer-text">info@fundacionoportunidades.org</p>
    </div>
  </div>
</footer>

<style>
  footer {
    /* padding: 10px 0 10px 0; */
    margin: 10px 0 10px 0;
    text-align: center;
    color: #333;
    width: 100vw;
    margin-top: 2rem;
    font-family: "Open Sauce Sans";
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  ul li {
    margin: 0 20px 0 20px;
  }

  .footer-link {
    font-weight: bold;
    margin: 0 10px;
    /* text-decoration: none; */
    transition: all 0.3s ease;
  }

  .footer-link:hover {
    transform: scale(1.2, 1.2);
  }

  .footer-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-text-container {
    /* padding: 5px; */
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
  }
  .footer-text {
    margin: 0 15px 0 15px;
  }
</style>
