---
import SocialMedia from "./SocialMedia.astro";
---

<footer>
  <SocialMedia />
  <ul>
    <li><a href="/site" class="footer-link">Inicio</a></li>
    <li><a href="/site/scholarships" class="footer-link">Becas</a></li>
    <li><a href="/site/contact_us" class="footer-link">Contacto</a></li>
    <li><a href="/site/about_us" class="footer-link">Sobre nosotros</a></li>
  </ul>

  <div class="footer-info">
    <p>Ciudad Autónoma de Buenos Aires, Argentina</p>
    <p>Teléfono: 999-999-9999</p>
    <p>Email: info@fundacionoportunidades.org</p>
  </div>
</footer>

<style>
  footer {
    background-color: #f2f2f2;
    padding: 1rem 0 2rem 0;

    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    width: 100vw;
    margin-top: 2rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .footer-link {
    font-weight: bold;
    color: black;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .footer-link:hover {
    transform: scale(1.2, 1.2);
  }

  .footer-info {
    margin-top: 20px;
  }
</style>
