<section
  class="rounded-lg shadow-md p-8 max-w-2xl mx-auto net-presentation"
  style="background: linear-gradient(to bottom, #f8f8f159, #fdf5e671);"
>
  <div class="font-body font-semibold text-xl mb-4">Becas de Formación</div>
  <div class="border-t-2 border-green-150 mb-4"></div>
  <p class="font-body text-base mb-4">
    En Argentina existen 1298 municipios. En prácticamente todos ellos existe un
    colegio donde los jóvenes de cada pueblo o ciudad pueden asistir para
    recibir su educación primaria. Algunos de estos municipios no cuentan con
    establecimientos de educación secundaria. Y muchos de estos municipios no
    cuentan con establecimientos de educación superior o universitaria. Teniendo
    esto en consideración, y sumando que las condiciones económicas de gran
    parte de la población argentina no le permite a las familias enviar a sus
    hijos a una ciudad donde puedan estudiar carreras terciarias o
    licenciaturas, es que nace Fundación Oportunidades.
  </p>
  <p class="font-body text-base mb-4">
    Fundación Oportunidades nace para que aquellos/as jóvenes con buen
    rendimiento académico, bajos recursos económicos, y oriundos/as de todo el
    país puedan acceder a educación universitaria de manera gratuita. Lo que se
    pretende, entonces, es crear oportunidades, para que los jóvenes de nuestro
    país puedan cumplir sus sueños y estu diar las carreras que ellos/as eligen
    para su futuro.
  </p>
  <p class="font-body text-base mb-4"></p>
  Las becas que ofrecemos desde Fundación Oportunidades están otorgadas al 100% por
  la universidad que recibe al estudiante. Todas nuestras becas incluyen la matrícula
  y la cuota mensual de la casa de estudios. Asimismo, parte de nuestras becas cuentan
  también con un estipendio mensual del 100% (640 dólares mensuales, en pesos, al
  precio oficial del día de entrega del estipendio), del 75% (480 dólares mensuales,
  en pesos, al precio oficial del día de entrega del estipendio), del 50% (320 dólares
  mensuales, en pesos, al precio oficial del día de entrega del estipendio), y del
  25% (160 dólares mensuales, en pesos, al precio oficial del día de entrega del
  estipendio). Si querés saber qué carreras podemos becar, hacé <a
    class="link-style"
    href="link-1">click acá</a
  >. Si querés saber cómo solicitar una beca, hacé <a
    class="link-style"
    href="link-2">click acá</a
  >.
</section>

<style>
  /* .net-presentation {
    font-family: "Libre Baskerville";
  } */
  .link-style {
    font-weight: bold;
  }
</style>
