---
const { title, paragraphs, imageUrl } = Astro.props;
---

<section class="mission-card-container">
  <div class="mission-card">
    <div class="text-container">
      <h1 class="mission-title">
        {title}
      </h1>

      <hr class="division-line" />
      {
        paragraphs.map((p: any) => {
          const linkRegex = /<a\s+(?:[^>]*?\s+)?href=(["'])(.*?)\1/i;
          const match = p.match(linkRegex);

          if (match) {
            return (
              <p class="mission-text">
                <a class="link-style" href={match[2]}>
                  {p.replace(/<[^>]+>/g, "")}
                </a>
              </p>
            );
          } else {
            return <p class="mission-text">{p}</p>;
          }
        })
      }
    </div>
  </div>
</section>

<style>
  .mission-card-container {
    opacity: 1;
    margin: 1rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-image: url("https://res.cloudinary.com/dsblswewr/image/upload/v1689952865/escalera_diagonal_r4vzhk.png");
    background-size: 40rem;
    background-blend-mode: difference;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100vw;
  }
  .mission-card-container:hover {
    background-color: rgb(74, 168, 81);
    color: white;
  }
  .mission-card {
    min-height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }

  .text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 3rem 5rem 3rem 5rem;
  }

  .mission-title {
    font-family: "Libre Baskerville";
    font-size: 2.5rem;
    font-weight: bold;
  }

  .division-line {
    background-color: green;
    margin: 1rem;
    height: 2px;
  }
  .mission-text {
    font-family: "Open Sauce Sans";
    font-style: italic;
    font-size: 1.5rem;
    text-indent: 3rem;
    margin: 1rem 0 1rem 0;
  }

  @media only screen and (max-width: 768px) {
    .mission-card-container {
      background-image: none;
      padding: 0 !important;
      margin: 0 !important;
    }
    .mission-card {
      width: 90vw !important;
      padding: 0;
    }
    .text-container {
      padding: 1rem;
    }
    .mission-title {
      font-size: 1.5rem;
    }
    .mission-text {
      font-size: 1rem;
    }
  }
</style>
