---
const { title, paragraphs, imageUrl } = Astro.props;
---

<section
  class="mission-card-container"
  style={`background-image: url(${imageUrl});`}
>
  <section class="mission-card">
    <div class="text-container">
      <h2 class="mission-title">{title}:</h2>
      {paragraphs.map((p: string) => <p class="mission-text">{p}</p>)}
    </div>
  </section>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sauce+Sans&display=swap");

  .mission-card-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  .mission-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #efefefdd;
    border-radius: 0 3rem 0 3rem;
    padding: 2rem;
    line-height: 1.5;
    width: 45%;
    box-shadow: 0px 8px 16px 0px #7bcb79;
    margin: 1rem;
    transition: transform 0.3s ease;
  }

  .mission-card:hover {
    background-color: white;
    transform: scale(1.05, 1.05);
  }

  .text-container {
    padding-left: 2rem;
  }

  .mission-title {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
  }

  .mission-text {
    font-family: "Open Sauce Sans", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
  }
</style>
