---
import type { MenuItem } from "../types/types";
import menuItems from "../data/menuItems";
import OfferHead from "./OfferHead.astro";

interface Props extends MenuItem {}
---

<header>
  <OfferHead />
  <nav>
    <div class="logo-container">
      <a href="/site">
        <img
          src="https://res.cloudinary.com/dsblswewr/image/upload/v1685354115/oportunidades_logo_tkgaex.png"
          alt="logo fundación oportunidades"
          height="60px"
        />
      </a>
    </div>
    <ul class="right-container">
      {
        menuItems.map((i) => (
          <li class="main_option">
            {i.title}
            <ul>
              {i.options.map((o) => (
                <li>
                  <a href={o.url}>{o.title}</a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  .main_option {
    font-weight: bold;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2d6;
    padding: 1rem;
  }

  nav:hover {
    background-color: white;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 5rem;
  }

  .right-container {
    margin-right: 5rem;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    position: relative;
    margin-right: 20px;
  }

  nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }

  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    /* font-weight: 200; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid green;
    padding: 10px;
    white-space: nowrap;
  }

  nav ul ul li {
    display: block;
    background-color: black;
    top: 100%;
    width: auto;
    background-color: white;
    padding: 10px;
    /* white-space: nowrap; */
  }

  nav li:hover > ul {
    display: block;
  }

  nav li:hover {
    color: green;
  }

  nav li a:hover {
    transform: scale(1.1, 1.1);
    /* font-weight: bold; */
    color: green;
  }

  .nav-links {
    margin-left: 16rem;
  }
</style>
