---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
import type { MenuItem } from "../types/types";
import menuItems from "../data/menuItems";

interface Props extends MenuItem {}
---

<header class="lg:flex items-center justify-around p-5 gap-5 mx-auto">
  <Astronav closeOnClick>
    <div class="flex w-full lg:w-auto justify-between">
      <a href="/" >
        <img
          src="/assets/Logos/PNG/isologotipoHorizontal.png"
          alt="logo fundación oportunidades"
          class="h-12 w-full max-sm:w-[75%] max-sm:h-auto"
        />
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex max-sm:bg-[#f1f1f1] max-sm:py-5 max-sm:mt-3 max-sm:rounded ">
      <ul class="flex flex-col lg:flex-row lg:gap-5 ">
        {
          menuItems.map((i) => (
            <li class="contents max-sm:flex max-sm:justify-center">
              <Dropdown class="group">
                <button class="flex items-center nav-main-option">
                  <span
                    class={
                      i.title === "Solicitá tu beca"
                        ? "login-button py-2 px-2  bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg"
                        : "py-2 px-4  text-black w-full transition ease-in duration-200 text-center text-base font-semibold"
                    }
                    id={
                      i.title === "Solicitá tu beca" ? "solicita-tu-beca": "notDropdown"
                    }
                  >
                    {(i.title === "Ingresa" || i.title === "Contacto" || i.title === "Solicitá tu beca" ) ? (
                      <a href={i.url}>{i.title}</a>
                    ) : (
                      i.title
                    )}
                  </span>
                </button>
                {i.options && (
                  <DropdownItems class="relative">
                    <div class="lg:absolute bg-white top-2 w-40 border shadow rounded p-2 open-box">
                      <ul>
                        {i.options &&
                          i.options.map((o) => (
                            <li>
                              <a
                                href={o.url}
                                class={
                                  "flex px-4 py-3 hover:bg-green-100 hover:font-semibold"
                                }
                              >
                                {o.title}
                              </a>
                            </li>
                          ))}
                      </ul>
                    </div>
                  </DropdownItems>
                )}
              </Dropdown>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>

<style>
 header {
    position: fixed; /* Establece el navbar como fijo */
    top: 0; /* Lo fija en la parte superior de la ventana */
    width: 100vw !important;
    height: 10vh;
    font-family: "Mrs.Eaves";
    margin-bottom: 20px;
    background-color: rgba(239, 239, 239, 0.867);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 2; /* Asegura que esté encima del contenido */
}

  .nav-main-option {
    /* padding: 2px 10px 2px 10px; */
    /* background-color: antiquewhite; */
    background-image: linear-gradient(to right, #53924f, #53924f 50%, #000 50%);
    background-size: 200% 100%;
    text-transform: uppercase;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  .nav-main-option:before {
    content: "";
    background: #53924f;
    display: block;
    position: absolute;
  }

  .nav-main-option:hover {
    background-position: 0;
  }

  .nav-main-option:hover::before {
    width: 100%;
  }

  .open-box {
    width: 300px !important;
  }

  .login-button {
    -webkit-text-fill-color: aliceblue;
    color: rgb(247, 243, 243) !important;
    /* z-index: 2; */
  }

  @media only screen and (min-width: 768px) {
  }
</style>
