<div class="offer-container">
  <a href="https://mercadopago.com.ar" class="offer-link"
    >Sumate como donante y ayuda a cambiar el futuro de miles de personas!</a
  >
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sauce+Sans&display=swap");

  .offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3rem;
    background-color: #bc7e32cb;
    transition: all 0.5s ease;
  }

  .offer-container:hover {
    background-color: #bc7e32;
  }

  .offer-link {
    color: white;
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  .offer-link:hover {
    transform: scale(1.1, 1.1);
  }

  @media screen and (max-width: 800px) {
    .offer-link {
      padding: 1rem;
      font-size: 1rem;
    }
  }
</style>
