<section
  class="rounded-lg shadow-md p-8 max-w-2xl mx-auto net-presentation"
  style="background: linear-gradient(to bottom, #f8f8f159, #fdf5e671);"
>
  <div class="font-body font-semibold text-xl mb-4">
    ¿Qué es la Red de Oportunidades?
  </div>

  <div class="border-t-2 border-green-100 mb-4"></div>

  <p class="font-body text-lg mb-4">
    La Red de Oportunidades es un instrumento concebido para potenciar las
    relaciones de intercambio, cooperación y aprendizaje de los becarios.
  </p>
  <p class="font-body text-lg mb-4">
    Su creación articula distintos programas en los que se integra a los ex
    becarios con los actuales, en pos de transmitir sus experiencias y
    aprendizajes, al mismo tiempo que se pone en contacto a los becarios y ex
    becarios con distintas empresas para generar oportunidades en el mundo
    laboral.
  </p>
  <p class="font-body text-lg mb-4">
    Asimismo, la Red funciona como contención para los nuevos becarios que se
    integran a la vida estudiantil en la Ciudad de Buenos Aires, al mismo tiempo
    que desde la Fundación se les provee de asistencia mediante un equipo
    pedagógico interdisciplinario para abordar todos los aspectos de la vida
    diaria de un estudiante.
  </p>
  <p class="font-body text-lg mb-4">
    En suma, Red de Oportunidades es un entramado de empresas, instituciones y
    personas que se integran en distintas ocasiones o formas de trabajo para
    permitirle al becario y a los ex becarios continuar con una carrera exitosa
    y poder cumplir sus sueños.
  </p>
</section>

<style>
  .net-presentation {
    /* font-family: "Libre Baskerville"; */
    /* width: 70vw; */
  }
</style>
