---
import type { SocialMediaTypes } from "../types/types";
import socialMediaItems from "../data/socialMedia";

interface Props extends SocialMediaTypes {}
---

<section class="social-media-container">
  <ul class="icons-container">
    {
      socialMediaItems.map((s) => (
        <li>
          <a href={s.url} target="_blank">
            <img
              src={s.imageUrlActive}
              alt={s.imageAlt}
              class={`social-icon ${s.imageAlt}`}
            />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    padding: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  li {
    margin: 0 10px;
  }|

  a {
    text-decoration: none;
  }

  img.social-icon {
    width: 2rem;
    height: 2rem;
  }

  img.facebook:hover {
    content: url("https://res.cloudinary.com/dsblswewr/image/upload/v1685355460/face_gris_ifzgrs.png");
  }

  img.twitter:hover {
    content: url("https://firebasestorage.googleapis.com/v0/b/fundacion-oportunidades.appspot.com/o/Assets%2FRecursos%2FPNG%2Ftwitter-x-gris.png?alt=media&token=2269e5a0-f846-426f-81e1-71622a06d49d&_gl=1*10zgqxz*_ga*MzU5MzA0NDAuMTY5NTkwMTE2OQ..*_ga_CW55HF8NVT*MTY5NTkwMTE3MC4xLjEuMTY5NTkwMjcwMC42MC4wLjA.");
    padding: 6px;
  }

  img.youtube:hover {
    content: url("https://res.cloudinary.com/dsblswewr/image/upload/v1685355461/youtube_rojo_acijb4.png");
  }

  img.linkedin:hover {
    content: url("https://res.cloudinary.com/dsblswewr/image/upload/v1685355461/ln_gris_k1nap3.png");
  }

  img.instagram:hover {
    content: url("https://res.cloudinary.com/dsblswewr/image/upload/v1685355460/insta_gris_xcva8o.png");
  }

  .button-container {
    padding-left: 5rem;
  }

  @media screen and (max-width: 1100px) {
    .social-media-container {
      display: flex;
      background-color: #f2f2f2;
      align-items: center;
      width: 100vw;
      transition: all 0.5s ease;
    }
  }

  @media screen and (max-width: 800px) {
    .social-media-container {
      padding-left: 0.5rem;
    }
  }
</style>
