---
import type { Testimonials } from "../types/types";
import testimonials from "../data/testimonials";

interface Props extends Testimonials {}
---

<div class="testimonials-container">
  <input type="radio" name="testimonial" id="testimonial1" checked />
  <input type="radio" name="testimonial" id="testimonial2" />
  <input type="radio" name="testimonial" id="testimonial3" />

  {
    testimonials.map((t) => (
      <section class="testimonial">
        <div class="testimonial-image">
          <img src={t.imageUrl} alt={t.imageAlt} height="10rem" />
        </div>

        <div class="testimonial-text">
          <p>{t.text}</p>
        </div>
      </section>
    ))
  }
</div>

<style>
  .testimonials-container {
    /* height: 20vh; */
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .image-testimonial {
    /* height: 15rem; */
  }

  .testimonial {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f2f2f2;
  }

  .testimonial-image {
    max-width: 100%;
    margin-right: 20px;
  }

  .testimonial-image img {
    max-width: 100%;
    height: auto;
  }

  .testimonial-text {
    flex-grow: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
  }

  .testimonial-radios {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .testimonial-radios label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }

  .testimonial-radios label:hover {
    background-color: #999;
  }

  #testimonial1:checked ~ .testimonial:nth-of-type(1),
  #testimonial2:checked ~ .testimonial:nth-of-type(2),
  #testimonial3:checked ~ .testimonial:nth-of-type(3) {
    display: flex;
  }

  #testimonial1:checked ~ .testimonial-radios label:nth-of-type(1),
  #testimonial2:checked ~ .testimonial-radios label:nth-of-type(2),
  #testimonial3:checked ~ .testimonial-radios label:nth-of-type(3) {
    background-color: #999;
  }
</style>
