---
import type { Universities } from "../types/types";
import universities from "../data/universities";

interface Props extends Universities {}
---

<section class="universities-container">
  <div class="universidades-logos flex justify-center text-center">
    {
      universities.map((u) => (
        <a href={u.url} target="_blank">
          <img src={u.imageUrl} alt={u.imageAlt} class="university-image" />
        </a>
      ))
    }
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sauce+Sans&display=swap");

  a {
    text-decoration: none;
  }
  .universities-container {
    text-align: center;
    padding: 1rem;
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .universidades-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .universidades-logos img {
    margin: 1rem;
    max-height: 6rem;
    display: inline;
    background-color: transparent;
    transition: transform 0.3s;
    opacity: 0.8;
  }

  .universidades-logos img:hover {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  @media screen and (max-width: 1100px) {
    .university-image {
      height: 4rem;
    }
    .universities-text {
      font-size: 1rem;
    }
  }
</style>
