<section class="universities-container">
  <p>Universidades que ponen sus becas a disposición:</p>
  <div class="universidades-logos">
    <a href="https://www.dcu.ie/" target="_blank">
      <img
        src="https://th.bing.com/th/id/OIP.CLPC-2bSt7CUlMH2A9DsXQHaHa?pid=ImgDet&rs=1"
        alt="Logo Universidad 3"
      />
    </a>
    <a href="https://www.ul.ie/" target="_blank">
      <img
        src="https://www.ul.ie/themes/custom/ul/logo.jpg"
        alt="Logo Universidad 1"
      />
    </a>
    <a href="https://www.ucd.ie/" target="_blank">
      <img
        src="https://www.dcu.ie/sites/default/files/institute_education_access/2022-09/low-qual-logo_0.png"
        alt="Logo Universidad 2"
      />
    </a>
  </div>
  <a href="/work_with_us_universities">
    <button>Sumate a cambiarle la realidad a una persona</button>
  </a>
</section>

<style>
  a {
    text-decoration: none;
  }
  .universities-container {
    text-align: center;
    padding: 20px;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 80ch;
  }

  .universidades-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
  }

  .universidades-logos img {
    margin: 1rem;
    max-height: 5rem;
    display: inline;
    background-color: transparent;
    transition: transform 0.3s;

    opacity: 0.8;
  }

  .universidades-logos img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    height: 2rem;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
  }

  button:hover {
    background-color: #45a049;
  }
</style>
