---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import FixedButton from "../components/FixedButton.astro";

import "@fontsource/open-sauce-sans";
import OfferHead from "../components/OfferHead.astro";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://res.cloudinary.com/dsblswewr/image/upload/v1689289454/opor_ico_250_dnkc6x.png"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sauce+Sans&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6L3VM5S7DM"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6L3VM5S7DM");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MGN6TRSF");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MGN6TRSF"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <NavBar />
    <FixedButton/>
    <main class="w-full max-sm:mt-[12vh] mt-[10vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
  }
  .division-line {
    background-color: green;
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  body {
    /* background-color: rgb(239, 239, 239); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @font-face {
    font-family: "Mrs.Eaves", Arial, sans-serif;
    src: url("/fonts/mrs-eaves/MRSEAV~5.TTF");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "OpenSauceSans", sans-serif;
    src: url("/fonts/open-sauce/OpenSauceSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "OpenSauceSansBold", bold, sans-serif;
    src: url("/fonts/open-sauce/OpenSauceSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: "Mrs.Eaves";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Libre Baskerville", sans-serif;
  }
  p,
  span,
  a,
  li,
  label,
  button {
    font-family: "OpenSauceSans", sans-serif;
  }
</style>
